{% extends "layout.html" %}
{% block content %}
<!-- posts.items bcoz it is a paginate object -->
    {% for post in posts.items %}
        <article class="media content-section">
          <!-- bcoz author was a back reference to the user -->
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

    <!-- displaying 1 page each on left and right edges and 1 to left of current and 2 to right of current (bcoz right includes current also) -->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      <!-- if there are say hundreds of pages then we don't want all of them to be displayed together....displaying some pages before the curent page then.... then current page then.... then some pages after -->
      <!-- say current page=6 -->
      <!-- 1,..5,6,7,..9 -->
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}  <!-- Jinja2 allows us to specify the name of the block also -->